name: Build & Deploy

on:
  push:

jobs:
  build-push:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.vars.outputs.image_tag }}
    permissions:
      contents: write
      packages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set IMAGE_TAG
        id: vars
        run: |
          IMAGE_TAG="${GITHUB_SHA}"
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
          echo "image_tag=$IMAGE_TAG" >> $GITHUB_OUTPUT

      - name: Build and Push image
        uses: docker/build-push-action@v5
        with:
          context: src
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/preview-environments-example:${{ env.IMAGE_TAG }}

  deployment-job:
    name: Update the helm values with a new image tag
    runs-on: ubuntu-latest
    needs: build-push
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Update image tags
        uses: mikefarah/yq@v4.44.3
        with:
          cmd: yq -i '.image.tag = "${{ needs.build-push.outputs.image_tag }}"' helm/preview-environments-example/values.yaml

      - name: Commit updated values.yaml
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add helm/preview-environments-example/values.yaml
          git commit -m "[skip actions] ci: Update tag ${{ needs.build-push.outputs.image_tag }}" || echo "No changes to commit"
          git push
