name: Build & Deploy

on:
  push:
    branches:
      - main

jobs:
  build-push-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set IMAGE_SHA
        id: vars
        run: echo "IMAGE_TAG=${GITHUB_SHA::8}" >> $GITHUB_ENV

      - name: Build and Push image
        uses: docker/build-push-action@v5
        with:
          context: src
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/preview-environments-example:${{ env.IMAGE_TAG }}

  deployment-job:
    name: Update the helm values with a new image tag
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 

      - name: Set up git 
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Update image tags
        uses: mikefarah/yq@v4.44.3
        with:
          cmd: |
            yq -i ".image.tag = \"${IMAGE_TAG}\"" helm/preview-environments-example/values.yaml

      - name: Commit updated values.yaml
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add helm/preview-environments-example/values.yaml
          git commit -m "ci: Deploy tag ${IMAGE_TAG}" || echo "No changes to commit"
          git push

